<ActionBar class="action-bar">
    <!-- 
        Use the NavigationButton as a side-drawer button in Android
        because ActionItems are shown on the right side of the ActionBar
        -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!-- 
        Use the ActionItem for IOS with position set to left. Using the
        NavigationButton as a side-drawer button in iOS is not possible,
        because its function is to always navigate back in the application.
        -->
    <ActionItem icon="res://navigation/menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()" ios.position="left">
    </ActionItem>
    <StackLayout orientation="horizontal" ios:horizontalAlignment="center" android:horizontalAlignment="left">
        <Label text="Recent Games" class="action-bar-title"></Label>
        <Label text="&#xf11b;" class="fa fa-4x" textAlignment="right"></Label>
    </StackLayout>
</ActionBar>
<GridLayout rows="auto *" columns="*" (loaded)="onLoaded()" (loaded)="onSearchLayoutLoaded($event)">
    <SearchBar row="0" col="0" hint="Search title" [text]="searchPhrase" (textChange)="onTextChanged($event)" (submit)="onSubmit($event)"
        color="black" textFieldHintColor="black" (loaded)="onSearchBarLoaded($event)"></SearchBar>
    <ListView row="1" col="0" loadMoreItems="Manual" [items]="games" [itemTemplateSelector]="templateSelector" class="list-group"
        separatorColor="gray" (loadMoreItems)="loadMoreGames()">
        <ng-template nsTemplateKey="header" let-header="item">
            <Label class="list-group-item bg-primary h2" isUserInteractionEnabled="false" color="white" [text]="header.title"></Label>
        </ng-template>

        <ng-template nsTemplateKey="footer" let-footer="item">
            <Label class="list-group-item h4" backgroundColor="gray" [text]="footer.title"></Label>
        </ng-template>

        <ng-template nsTemplateKey="cell" let-game="item" let-odd="odd" let-even="even">
            <GridLayout rows="*, *, *" class="list-group-item" columns="auto, auto, *" [class.oddRow]="odd" [class.evenRow]="even">
                <!-- <Image row="0" col="0" rowSpan="2" [src]="game.image" class="thumb img-circle" height="108" width="108" [nsRouterLink]="['/game-detail', game.id]"></Image> -->
                <!-- <Image row="2" col="0" [src]="getFavourite(game.favourite)" (tap)="toogleFavourite(game)" class="thumb p-15" 
                [class.session-favorite-selected]="game.favourite" [class.session-favorite-unselected]="!game.favourite"></Image> -->
                <GridLayout row="0" colSpan="3" rows="*, *" columns="115, *, 20, auto" class="infoContainer">
                    <!-- <Label row="0" col="0" rowSpan="2" text="" textWrap="true" [nsRouterLink]="['/game-detail', game.id]"></Label> -->
                    <Image:FrescoDrawee rowSpan="2" row="0" col="0" [imageUri]="game.image" [nsRouterLink]="['/game-detail', game.id]">
                    </Image:FrescoDrawee>
                    <Label row="0" col="1" [text]="game.title" textWrap="true" class="title"></Label>
                    <Label row="0" col="2" *ngIf="game.sale_price > 0" textWrap="true" class="diagonal"></Label>
                    <Label row="0" col="3" *ngIf="game.sale_price > 0" text="SALE" class="saleBadge"></Label>
                    <Label row="1" col="1" textWrap="true" class="prices">
                        <FormattedString>
                            <Span [text]="getPrices(game)" class="desc"></Span>
                        </FormattedString>
                    </Label>
                    <Image row="1" col="3" stretch="aspectFill" [src]="getFavourite(game.favourite)" (tap)="toogleFavourite(game)" class="thumb star"></Image>
                    <!-- <Image row="0" col="0" rowSpan="2" [src]="game.image" class="thumb img-circle" height="108" width="108" [nsRouterLink]="['/game-detail', game.id]"></Image> -->
                </GridLayout>
            </GridLayout>
        </ng-template>
    </ListView>
</GridLayout>