.main {
  /* margin: 1em 0 0.5em 0; */
  color: #343434;
  font-weight: normal;
  /* font-family: 'Ultra', sans-serif;    */
  font-size: 16px;
  /* line-height: 22px; */
  text-transform: uppercase;
  /* text-shadow: 0 2px white, 0 3px #777; */
}
