// Place any CSS rules you want to apply on both iOS and Android here.
// This is where the vast majority of your CSS code goes.
// Font icon class
.fa {
  font-family: "FontAwesome";
}
// Common page class
.page-content {
  .page-placeholder {
    color: $page-icon-color;
    font-size: $page-content-placeholder-font-size;
    vertical-align: center;
    horizontal-align: center;
  }

  .page-icon {
    font-size: 72;
    vertical-align: top;
    horizontal-align: center;
    color: $page-icon-color;
    margin-top: 20%;
  }
}

//Action bar
ActionBar .action-bar-title {
  horizontal-align: center;
}

// Drawer navigation custom styles
$sidedrawer-header-image-size: 60;
$sidedrawer-header-image-offset-top: 20;
$sidedrawer-header-image-offset-bottom: 5;
$sidedrawer-list-item-offset-left: 15;
$sidedrawer-list-icon-offset: 10;
$sidedrawer-list-icon-size: 20;

.sidedrawer {
  &.sidedrawer-left {
    background-color: $ab-background;

    .sidedrawer-header-image {
      color: $background-dark;
      height: $sidedrawer-header-image-size;
      width: $sidedrawer-header-image-size;
      font-size: $sidedrawer-header-image-size;
      padding: 0;
      margin-bottom: $sidedrawer-header-image-offset-bottom;
      margin-top: $sidedrawer-header-image-offset-top;
    }

    .footnote {
      color: rgba($ab-color, 0.5);
    }
  }

  .sidedrawer-header {
    background-color: $ab-background;

    .sidedrawer-header-brand {
      color: $ab-color;
    }
  }

  .sidedrawer-content {
    background-color: $side-drawer-background;

    $sidedrawer-list-item-offset-left: 15;
    $sidedrawer-list-icon-offset: 10;
    $sidedrawer-list-icon-size: 20;

    .sidedrawer-list-item {
      padding-left: $sidedrawer-list-item-offset-left;
      label {
        vertical-align: center;
        color: $blue-dark;
      }
      .fa {
        width: $sidedrawer-list-icon-size;
        margin-right: $sidedrawer-list-icon-offset;
      }
      &.selected {
        background-color: $item-active-background;
        label {
          color: $item-active-color;
        }
      }
    }
  }
}

// lists
.oddRow {
  background-color: #fff6e5;
}

.infoContainer {
  background-color: #fff;
  border-width: 4;
  border-color: #23c7e0;
  /* color: #fff; */
  font-size: 18px;
  text-align: right;
  background-repeat: no-repeat;
  height: 110;
  text-transform: uppercase;
  background: linear-gradient(to top, rgb(240, 227, 227), white, white);
  /* background-image: ~/images/dots.jpg;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 0.5; */
}
.evenRow {
  background-color: #eeecea;
  /* color: #ffffff; */
}
.title {
  text-transform: uppercase;
  font-family: "bernhc";
  color: #feb74b;
  /* background-color: red; */
  text-align: left;
  font-size: 14px;
  margin-left: 20px;
}
.star {
  margin-left: 3px;
  text-align: right;
  /* background-color: rgb(33, 138, 138); */
}
.saleBadge {
  border-radius: 20px;
  background-color: #fff;
  color: #f27162;
  border-width: 4;
  border-color: #f27162;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  padding: 20px;
  font-family: "bernhc";
  margin-bottom: 20px;
}
.diagonal {
  background-color: #f27162;
  transform: rotate(-45deg) scale(2);
  height: 40px;
  margin-bottom: 150px;
  margin-left: 40px;
}
.prices {
  font-size: 12px;
  text-align: left;
  font-family: "bernhc";
  color: gray;
  margin-left: 20px;
}
.session-favorite {
  vertical-align: center;

  margin: 0 26 0 16;
  border-color: #000;
}

.priceContainer {
  /* border-color: #cc8400;
    border-width: 2 2 2 2; */
  background-color: #6599ff;
  color: #ffde00;
  margin-top: 4px;
  border-radius: 20px;
  padding: 8px;
}

/* .oddRow .priceContainer {
    border-color: #fff;
    border-width: 2 2 2 2;
    background-color: #ff9900;
    margin-top: 4px;
    border-radius: 20px;
    color: #fff;
    padding: 8px;
  } */

.priceLabel {
  font-size: 13px;
  font-family: Courier;
  font-weight: bold;
  /* font-family: game_over; */
}

@keyframes session-favorite-selected {
  from {
    transform: scale(1, 1) rotate(-120);
    opacity: 0;
    animation-timing-function: linear;
  }
  50% {
    transform: scale(2, 2) rotate(-60);
    opacity: 0.3;
    animation-timint-function: ease-in;
  }
  to {
    transform: scale(1, 1) rotate(0);
    opacity: 1;
  }
}

.session-favorite-selected {
  animation-name: session-favorite-selected;
  animation-duration: 0.4;
  vertical-align: center;

  margin: 0 26 0 16;
}

@keyframes session-favorite-unselected {
  from {
    transform: scale(1, 1) rotate(120);
    opacity: 0;
    animation-timing-function: linear;
  }
  60% {
    transform: scale(2, 2) rotate(60);
    opacity: 0.3;
    animation-timint-function: ease-in;
  }
  to {
    transform: scale(1, 1) rotate(0);
    opacity: 1;
  }
}

.session-favorite-unselected {
  animation-name: session-favorite-unselected;
  animation-duration: 0.2;
  vertical-align: center;

  margin: 0 26 0 16;
}
