.labelDesc {
    padding: 10px !important;
}
.desc {
    font-size: 18px;
    margin-top: 20px;
    /* white-space:nowrap;  */
}
.cover {
    display: block;
    max-width:1500px;
    max-height:50px;
    /* object-fit: cover; */
    /* margin-left: auto;
    margin-right: auto; */
    width: auto;
    height: auto;
  }

.infoContainer {
    /* border-color: aquamarine; */
    border-color: #f77b18;
    border-width: 10px;
    margin-bottom: 15px;
    margin-top: 10px;
    border-radius: 20px;
}
.gamePopularity {
    background-color: tomato;
    font-size: 15px;
    color: black;
    /*font-style: oblique;*/
    text-align: center;
    vertical-align: center;
}
.gamesummary {
    text-align: center;
}
.metaContainer {
    font-size: 12px;
    padding: 15px;
}
.metaGame {
    font-size: 12px;
    font-weight: bold;
    margin-top: 5px;
}
