<ActionBar title="Game Details" class="action-bar">
    <NavigationButton text="Go Back" android.systemIcon="ic_menu_back" (tap)="goBack()"></NavigationButton>
</ActionBar>
<ScrollView class="page">
    <FlexboxLayout class="m-15" flexDirection="column">
        <FlexboxLayout flexDirection="row" height="200">
            <Image [src]="game.image" flexGrow="1"
               stretch="aspectFit" decodeWidth="200" decodeHeight="200" loadMode="async"></Image>
        </FlexboxLayout>
        <FlexboxLayout height="100" class="infoContainer" justifyContent="space-between">
            <FlexboxLayout class="metaContainer" flexDirection="column" width="200">
                <Label text="PUBLISHER" textWrap="true" class="metaGame" order="1"></Label>
                <Label [text]="game.publisher" order="2"></Label>
                <Label text="RELEASE DATE" textWrap="true" class="metaGame" order="3"></Label>
                <Label [text]="game.release_date" textWrap="true" order="4"></Label>
            </FlexboxLayout>
            <FlexboxLayout class="metaContainer" flexDirection="column" width="200">
                <Label text="DEVELOPER" textWrap="true" class="metaGame" order="1"></Label>
                <Label [text]="game.developer" order="2"></Label>
                <Label text="GENRES" textWrap="true" class="metaGame" order="3"></Label>
                <Label [text]="showGenres(game.categories)" order="4" textWrap="false"></Label>
            </FlexboxLayout>
        </FlexboxLayout>
        <FlexboxLayout class="gameSummary" flexDirection="column">
            <Label textWrap="true" class="">
                <FormattedString>
                        <Span [text]="game.description" class="desc"></Span>
                </FormattedString>
            </Label>
        </FlexboxLayout>
    </FlexboxLayout>
</ScrollView>
